{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="musicStore">
<head>
	<base href="/">
    <meta charset="utf-8">
    <title>Music Store Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block 'css' %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/ring.css' %}" rel="stylesheet">
    {% endblock %}
    {% block 'js' %}
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-route.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controller.js' %}"></script>
    <script src="{% static 'js/directive.js' %}"></script>
    <script src="{% static 'js/services.js' %}"></script>
    <script src="{% static 'js/angular-cookies.min.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div style="font-size:35px;font-weight:600;margin:20px 0 0 100px;">Music Store Catalog</div>
    <div id="wrapper" ng-show="loginCheck">
        <div class="overlay"></div>
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" ng-controller="navController">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                           Assignment
                        </a>
                    </li>
                    <li>
                        <a href="/home/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li>
                      <a href="/top10/">Top 10 Tracks</a>
                    </li>
                    <li class="dropdown">
                      {% verbatim %}
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ profilename }} <span class="caret"></span></a>
                      {% endverbatim %}
                      <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dashboard Links</li>
                        <li><a href="/library/">Library</a></li>
                        <li><a href="/playlist/">Playlist</a></li>
                        <li><a href="/pub_playlist/">Public Playlist</a></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                      </ul>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>
            <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div class="container">
        <div class="row">
            <div ng-view></div>   
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

            trigger.click(function () {
                hamburger_cross();      
            });

            function hamburger_cross() {

              if (isClosed == true) {          
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
              } else {   
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
              }
            }
            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });  
        });
    </script>
</body>
</html>