<p>
	<b>Music Store Catalog</b> is designed and developed for fulfil.io.<br>
	<li>Most important point is <u>this portal is <b>responsive</b></u></li>
	<li>User can create account and login with the given credentials</li>
	<li>
		Home section of this portal contains the songs listened by the logined user and all other users.
		User can add songs to their library, create playlist by just selecting the favourite songs and clicking at the left top buttons on the table.
	</li>
	<li>Top 10 tracks are the tracks most listened by the users.</li>
	<li>Dashboard contains library, playlist, public playlists, logout</li>
	<li>Playlist can be shared as public/private through the select box.</li>
</p>