{% verbatim %}
<div class="col-lg-12" ng-init="libSongs()">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="60">
                    <a href="#" ng-click="createPlaylist()" ng-mouseover="titleTip()" tooltip title="Create Playlist"><span class="glyphicon glyphicon-list-alt"></span></a>
                </th>
                <th>Track</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Artist</th>
                <th>Lyricist</th>
                <th>Director</th>
                <th>YOR</th>
                <th>Play</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in songs track by $index">
                <td><input type="checkbox" value="{{s.id}}" ng-checked="selection.indexOf(s.id) > -1" ng-click="toggleSelection(s.id)" /></td>
                <td>{{s.track}}</td>
                <td>{{s.album}}</td>
                <td>{{s.genre}}</td>
                <td align="center"><a href="#" ng-mouseover="titleTip()" tooltip title="{{s.artist}}"><span class="glyphicon glyphicon-cd"></span></a></td>
                <td>{{s.lyricist}}</td>
                <td>{{s.music_director}}</td>
                <td>{{s.yor}}</td>
                <td id="{{s.id}}">
                    <audio controls id="music" onplay="userLog(this)">
                        <source ng-src="{{'/static/songs/'+s.track+'.mp3'}}" type="audio/mpeg">
                        Your browser does not support audio.
                    </audio>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
function userLog(elem) {
    var songID = elem.parentNode.id;
    angular.element(document.getElementById('music')).scope().userLog(songID);
}
</script>
{% endverbatim %}