<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">    
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>
        </div>     

        <div style="padding-top:30px" class="panel-body" >
            {% verbatim %}
            <div ng-show="error" id="login-alert" class="alert alert-danger col-sm-12">{{error}}</div>
            {% endverbatim %}
            <form name="storeLogin" id="loginform" class="form-horizontal" role="form" ng-submit="login()">
                        
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" type="email" class="form-control" name="email" placeholder="username or email" ng-model="user.email" required>                             
                </div>   
                    
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" name="passwd" placeholder="password" ng-model="user.passwd" required>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                      <button id="btn-login" class="btn btn-success"><i class="glyphicon glyphicon-log-in"></i>&nbsp;Login</button>
                      <div ng-if="dataLoading" class="uil-ring-css" style="display:inline-block;"><div style="box-shadow: 0 2px 0 0 #11a1b5;width:15px;height:15px;"></div></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Don't have an account! 
                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                            Sign Up Here
                        </a>
                        </div>
                    </div>
                </div>    
            </form>     
        </div>                     
    </div>  
</div>
<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
        </div>  
        <div class="panel-body" >
            <form name="storeSignup" id="signupform" class="form-horizontal" role="form" ng-submit="register()">
                {% csrf_token %}
                <div id="signupalert" ng-show="success" class="alert alert-success">
                    <span>You are registered successfully...Please Login!</span>
                </div>
                <div id="signupalert" ng-show="error" class="alert alert-danger">
                    <span>Email-ID already exists!</span>
                </div>
                  
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email Address" required>
                        <span ng-show="storeSignup.email.$dirty && storeSignup.email.$invalid" class="help-block">
                            <span ng-show="storeSignup.email.$error.required"><i class="glyphicon glyphicon-envelope"></i> Email is required</span>
                            <span ng-show="storeSignup.email.$error.email"><i class="glyphicon glyphicon-envelope"></i> Invalid email address</span>
                        </span>
                    </div>
                </div>
                    
                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="firstname" ng-model="user.firstname" placeholder="First Name" required>
                        <span ng-show="storeSignup.firstname.$dirty && storeSignup.firstname.$error.required" class="help-block"><i class="glyphicon glyphicon-user"></i> Firstname is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastname" ng-model="user.lastname" placeholder="Last Name" required>
                        <span ng-show="storeSignup.lastname.$dirty && storeSignup.lastname.$error.required" class="help-block"><i class="glyphicon glyphicon-user"></i> Lastname is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="passwd" ng-model="user.passwd" n placeholder="Password" required>
                        <span ng-show="storeSignup.passwd.$dirty && storeSignup.passwd.$error.required" class="help-block"><i class="glyphicon glyphicon-lock"></i> Password is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->                                        
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="glyphicon glyphicon-hand-right"></i>&nbsp;Sign Up</button> 
                        <div ng-if="dataLoading" class="uil-ring-css" style="display:inline-block;"><div style="box-shadow: 0 2px 0 0 #11a1b5;width:15px;height:15px;"></div></div>
                    </div>
                </div>
                
            </form>
         </div>
    </div>
</div>