{% verbatim %}
<div class="col-lg-12" ng-init="playlist()">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Playlist Name</th>
                <th>Created On</th>
                <th>Public/Private</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in play track by $index">
                <td><a href="/playlist/{{p.id}}/{{p.name}}">{{p.name}}</a></td>
                <td>{{p.created_on}}</td>
                <td>
                    <select class="form-control" ng-model="share" ng-change="sharePlay(share, p.id)" style="width:100px;">
                        <option value="" style="display:none">Share</option>
                        <option value="private" ng-selected="p.share == 'private'">Private</option>
                        <option value="public" ng-selected="p.share == 'public'">Public</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}