{% verbatim %}
<div class="col-lg-12" ng-init="pub_playlist()">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Playlist Name</th>
                <th>Created On</th>
                <th>Public/Private</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in play track by $index">
                <td><a href="/playlist/{{p.id}}/{{p.name}}">{{p.name}}</a></td>
                <td>{{p.created_on}}</td>
                <td>{{p.share}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}